CONFIG_SERVER_URL=http://localhost:8888
EUREKA_DEFAULT_ZONE=http://localhost:8761/eureka/

KEYCLOAK_SERVER_URL=http://localhost:8181
KEYCLOAK_REALM=fitness
KEYCLOAK_ADMIN_CLIENT_ID=fitlife-backend
KEYCLOAK_ADMIN_CLIENT_SECRET=
CORS_ALLOWED_ORIGINS=http://localhost:5173

USER_MONGODB_URI=mongodb://localhost:27017/fitness-micro-user
USER_MONGODB_DATABASE=fitness-micro-user

ACTIVITY_MONGODB_URI=mongodb://localhost:27017/aiactivityfitness
ACTIVITY_MONGODB_DATABASE=aiactivityfitness

AI_MONGODB_URI=mongodb://localhost:27017/airecommendationfitness
AI_MONGODB_DATABASE=airecommendationfitness

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_ACTIVITY_TOPIC=activity-events
KAFKA_ACTIVITY_DELETE_TOPIC=activity-delete-events

GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent
GEMINI_API_KEY=
